<script type="text/javascript" src="<%=resource%>/tsmodem/utils/utils.js?v=0.0.1"></script>
<script type="text/javascript" src="<%=resource%>/tsmodem/utils/get_cursor_position.js?v=0.0.1"></script>

<script type="text/javascript">
//<![CDATA[
    function spinner2(element, state) {
    	if (state === 1) {
    		element.css("width", "16px");
    		element.html('<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" width="16" height="16" style="vertical-align:middle" />');
    	}
    	else {
            element.css("width", "0px");
    		element.html('');
    	}
    }

    // Taken from there: https://stackoverflow.com/questions/610406/javascript-equivalent-to-printf-string-format
    if (!String.prototype.string_format) {
      String.prototype.string_format = function() {
        var args = arguments;
        return this.replace(/{(\d+)}/g, function(match, number) {
          return typeof args[number] != 'undefined'
            ? args[number]
            : match
          ;
        });
      };
    }
//]]>
</script>
