
<script type="text/javascript">
    window.underscore.templateSettings = {
        interpolate: /\{\{(.+?)\}\}/g
    };
</script>

<script type="text/template" id="web-console">
    <h4>{{ title }}</h4>
    <div class="cbi-map">
        <div class="cbi-map-section">
            <div class="cbi-map-section-node">
                <div class="cbi-value">
                        <div id="terminal"></div>
                </div>

                <div class="cbi-value" style="margin-top: 50px; float: right;">
                    <div class="btn popup-close">Закрыть окно</div>
                </div>

            </div>
        </div>
    </div>
</script>
