

<script src="/luci-static/resources/tsmodem/jquery/jquery-3.5.1.min.js"
		type="text/javascript"
		charset="utf-8"></script>

<script src="/luci-static/resources/tsmodem/jquery/jquery.highlight-within-textarea.js"
		type="text/javascript"
		charset="utf-8"></script>

<script src="<%=resource%>/tsmodem/nearley/nearley.js?v=1.5.2"
		type="text/javascript"
		charset="utf-8"></script>

<script src="<%=resource%>/tsmodem/jquery/jCProgress-1.0.3.js?v=1.5.6f"
		type="text/javascript"
		charset="utf-8"></script>

<script src="<%=resource%>/tsmodem/datatable/dataTables.js?v=3.0.1"
		type="text/javascript"
		charset="utf-8"></script>

<script src="<%=resource%>/tsmodem/sweetalert/sweetalert.min.js?v=2.6.11?h=12121212"
		type="text/javascript"
		charset="utf-8"></script>
		