<% --[[=========== JS ==========]] %>

<%+pptp-client/vpnconfig.js%>

<%# =========== LUA BACKEND ==========] %>
<%
	local vpnType = "vpnpptp"
%>
<%
    local config = "network"

    local uci = require "luci.model.uci".cursor()

    local getInterfaces = function()
        local str = ""
        uci:foreach('network', 'interface', function(a)
            str = str .. "'" ..  a['.name'] .. "',"
        end)
        return str
    end

    local getBridges = function()
        local str = "'none'"
        uci:foreach('network', 'interface', function(a)
            if a['type'] == 'bridge' then
                str = str .. ",'" ..  a['name'] .. "'"
            end
        end)
        return str
    end

    local getFirewallZones = function()
        local str = "'none'"
        uci:foreach('firewall', 'zone', function(a)
            str = str .. ",'" ..  a['name'] .. "'"
        end)
        return str
    end

    local a = getFirewallZones()

    local ubus = require "ubus"
    local conn = ubus.connect()

    -- Call a procedure
    local vpnUp = "false"
    local status = conn:call("network.interface.vpnpptp", "status", { name = vpnType })

    if (status and status["up"]) then
        vpnUp = status["up"]
    end
    conn:close()

%>

<div id="view">
    <h2><%:PPTP Client %></h2>

	<div class="cbi-map">
        <div class="cbi-map-section">
	        <div class="cbi-map-section-node" id="pageContent">
               
            </div>
        </div>
	</div>
    
    
    <div class="cbi-page-actions">
        <span id="btn_enable_spinner" class="btn_spinner"></span> 
        <input id="btnApply" class="cbi-button cbi-button-apply" type="button" value="<%:Save%>"> 
        <input id="btnReset" class="cbi-button cbi-button-reset" type="button" value="<%:Reset%>"> 
    </div>
</div>

<script src="<%=resource%>/pptp-client/jquery-3.5.1.min.js?v=1.0.0"
        type="text/javascript"
        charset="utf-8"></script>

<script src="<%=resource%>/pptp-client/nearley.js?v=1.5.2"
        type="text/javascript"
        charset="utf-8"></script>

<script type="text/javascript">
//<![CDATA[
    L.require('ui').then(function(ui) {
        class PptpData {
            name = "pptp1";
            type = '<%=vpnType%>';
            isActive = parse_bool('<%=vpnUp%>') || false;
            options = {
                server: "",
                username: "",
                password: "",
                authType: "",
                addOptinos: "",
                isMPPE: false,
                isDefaultRoute: false,
            };
        }

        var g_pptpData = new PptpData();
        var g_form = {};
        var authTypes = ['any','EAP','PAP','CHAP','MSCHAP', 'MSCHAPv2'];

        function initForm(form, data) {
            form['isActive'] = new ui.Checkbox(data.isActive);
            form['server'] = new ui.Textfield(data.options.server, {
                placeholder: "<%:Server address%>",
                optional: false,
                validate: nearleyValidator('address', '<%:Should contain IPv4 or URL%>')
            });
            form['username'] = new ui.Textfield(data.options.username, {
                placeholder: "<%:Username%>",
                optional: false,
                //validate: nearleyValidator('sectionName', '<%:Should contain letters, numbers and "_"%>')
                validate: function(input) {
                    return true;
                }
            });
            form['password'] = new ui.Textfield(data.options.password, {
                placeholder: "<%:Password%>",
                optional: false,
                password: true,
                validate: function(input) {
                    if (input.length)
                        return true;

                    return '<%:Can not be empty%>';
                }
            })
            form['addOptinos'] = new ui.Textfield(data.options.addOptinos, {
                placeholder: "<%:Additional options%>",
                optional: true,
            })
            form['authType'] = new ui.Dropdown(data.options.authType, make_dropdown_options(authTypes), {
                multiple: false,
                optional: false,
                sort: false,
            })
            form['isMPPE'] = new ui.Checkbox(data.options.isMPPE);
            form['isDefaultRoute'] = new ui.Checkbox(data.options.isDefaultRoute);
        }

        function renderForm(form) {
            var container = E('div', {class: 'tr '}, [
                E('div', { class: 'cbi-value' }, [
                    E('label', { 'class': 'cbi-value-title' }, '<%:Enable PPTP client%>'),
                    E('div', { class: 'cbi-value-field' }, [form.isActive.render()])
                ]),
                E('div', { class: 'cbi-value' }, [
                    E('label', { 'class': 'cbi-value-title' }, '<%:Server%>'),
                    E('div', { class: 'cbi-value-field' }, [form.server.render()])
                ]),
                E('div', { class: 'cbi-value' }, [
                    E('label', { 'class': 'cbi-value-title' }, '<%:Use as default route%>'),
                    E('div', { class: 'cbi-value-field' }, [form.isDefaultRoute.render()])
                ]),
                E('div', { class: 'cbi-value' }, [
                    E('label', { 'class': 'cbi-value-title' }, '<%:Username%>'),
                    E('div', { class: 'cbi-value-field' }, [form.username.render()])
                ]),
                E('div', { class: 'cbi-value' }, [
                    E('label', { 'class': 'cbi-value-title' }, '<%:Password%>'),
                    E('div', { class: 'cbi-value-field' }, [form.password.render()]),
                ]),
                E('div', { class: 'cbi-value' }, [
                    E('label', { 'class': 'cbi-value-title' }, '<%:Use MPPE (MS-CHAP-V2 auth)%>'),
                    E('div', { class: 'cbi-value-field' }, [form.isMPPE.render()])
                ]),
                E('div', { class: 'cbi-value' }, [
                    E('label', { 'class': 'cbi-value-title' }, '<%:Authentication type%>'),
                    E('div', { class: 'cbi-value-field' }, [form.authType.render()])
                ]),
                E('div', { class: 'cbi-value' }, [
                    E('label', { 'class': 'cbi-value-title' }, '<%:Additional options%>'),
                    E('div', { class: 'cbi-value-field' }, [form.addOptinos.render()])
                ]),
        	])
        				
        	var viewWrapper= document.getElementById('pageContent');
        	viewWrapper.appendChild(container);
        }

        getCfgData('interface', function(sections) {
            g_pptpData.isActive = parse_bool('<%=vpnUp%>') || false;
            sections.forEach(function(iface) {
                if(iface && iface[".name"] && iface[".name"] == '<%=vpnType%>') {

                    g_pptpData.options['server'] = parse_string(iface['server']);
                    g_pptpData.options['username'] = parse_string(iface['username']);
                    g_pptpData.options['password'] = parse_string(iface['password']);
                    g_pptpData.options['authType'] = parse_string(iface['authType']) || '';
                    g_pptpData.options['addOptinos'] = parse_string(iface['addOptinos']) || '';
                    g_pptpData.options['isMPPE'] = parse_bool(iface['isMPPE']) || '';
                    g_pptpData.options['isDefaultRoute'] = parse_bool(iface['isDefaultRoute']) || '';
                    initForm(g_form, g_pptpData);
                    renderForm(g_form);
                    $('#btnReset').on('click', function(){ reset_fields(g_form, g_pptpData); });
                    $('#btnApply').on('click', function(){ apply(g_form); });
                }
            });
        });

        function reset_fields(form, data) {
            form.server.setValue(data.options['server']);
            form.username.setValue(data.options['username']);
            form.password.setValue(data.options['password']);
            form.authType.setValue(data.options['authType']);
            form.addOptinos.setValue(data.options['addOptinos']);
            form.isMPPE.setValue(data.options['isMPPE']);
            form.isDefaultRoute.setValue(data.options['isDefaultRoute']);
            form.isActive.setValue(data.isActive);

            for (i in form) {
                form[i].triggerValidation();
            }
        }

        function apply(form) {
            var isFormValid = true;
            for (i in form) {
                var field = form[i];
                field.triggerValidation();
                isFormValid &= field.isValid();
            }

            if (!isFormValid)
                return;
            
            var pptpData = new PptpData();
            pptpData.options['server'] = form.server.getValue();   
            pptpData.options['username'] = form.username.getValue(); 
            pptpData.options['password'] = form.password.getValue(); 
            pptpData.options['addOptinos'] = form.addOptinos.getValue();   
            pptpData.options['authType'] = form.authType.getValue(); 
            pptpData.options['isMPPE'] = form.isMPPE.getValue();   
            pptpData.options['isDefaultRoute'] = form.isDefaultRoute.getValue();   
            pptpData.isActive = form.isActive.getValue();

            if (pptpData.isActive == "1") {
                sendAction("activate", pptpData, activateCtrl);                
                console.log("Activate")
            } else if (pptpData.isActive == "0") {
                sendAction("edit", pptpData, editCtrl);
                console.log("Edit")
            }
        }
        
    });
//]]>
</script>