<script type="text/javascript">
//<![CDATA[

function activate_sim(btn) {
	var action = "switch",
		sim_id = btn.getAttribute("data-simid"),
		payload = {"sim_data": {}, "globals_data": {}};

	send_action(action, sim_id, payload);
}

function my_handleEdit(simid, sim_data, adapter_data) {
	send_action("edit", simid, { "sim_data": sim_data, "adapter_data": adapter_data } )
}

// TODO
// XHR() is deprecated. Use L.request instead.
function send_action(action, sim_id, payload) {
	var xhr = new XHR(false);
	var btn_spinner = document.getElementById("btn_enable_spinner");;
	spinner(btn_spinner, 1);

	<%

		local url = luci.dispatcher.build_url("admin", "system", "sim_list_2", "action")
	%>

	var jurl = '<%=url %>' + '/%h/%h'.format(action, sim_id)

	xhr.post(jurl, payload,
		function (x) {
			if (!x) {
				console.log("ERROR in send_action()")
				return;
			}
			spinner(btn_spinner, 0);
			<% 
				local ind_redirect = luci.dispatcher.build_url("admin", "system", "sim_list")
			%>
			//location.assign('<%=ind_redirect %>');
		}
	);

}

function toggle_more(ev) {
	var extra_params = document.querySelector(".more-params");
	var btn = ev.target;
	if(btn.getAttribute("data-action") == "show") {
		extra_params.style.display = "block";
		btn.setAttribute("data-action", "hide")
		btn.innerHTML = "<%:Basic settings %>"
	} else if(btn.getAttribute("data-action") == "hide") {
		extra_params.style.display = "none";
		btn.setAttribute("data-action", "show")
		btn.innerHTML = "<%:More settings %>"
	}
}

function spinner(element, state) {
	if (state === 1) {
		element.style.width = "16px";
		element.innerHTML = '<img src="<%=resource%>/icons/loading.gif" alt="<%:Loading%>" width="16" height="16" style="vertical-align:middle" />';
	}
	else {
		element.style.width = "0px";
		element.innerHTML = '';
	}
}


//]]>
</script>
