<script src="<%=resource%>/backbone/js/underscore.js"
		type="text/javascript"
		charset="utf-8"></script>

<script>
    window.underscore = _.noConflict()
	console.log("Underscore version is " + underscore.VERSION)
</script>

<script src="<%=resource%>/backbone/js/backbone.js"
		type="text/javascript"
		charset="utf-8"></script>

<script src="<%=resource%>/backbone/js/backbone.localStorage.js"
		type="text/javascript"
		charset="utf-8"></script>

<script src="<%=resource%>/tsmconsole/js/jquery-ui.js"
		type="text/javascript"
		charset="utf-8"></script>

<script src="<%=resource%>/tsmconsole/js/jquery.terminal-2.35.3.js"
		type="text/javascript"
		charset="utf-8"></script>
