
<script type="text/javascript">
//<![CDATA[
	L.require('ui').then(function(ui) {
		L.require('dom').then(function(dom) {
			var UICover = ui.AbstractElement.extend({
				__init__: function(cover_text, options) {
                    this.simid = null,
                    this.switching = false
				},

				render: function() {
	                var container = E('div')

					return this.bind(container);
				},

				displayOverlay: function() {
					if ($("#overlay").length > 0) {
						removeOverlay();
						displayOverlay('<%:Switching the SIM card.. %>');
					} else {
						displayOverlay('<%:Switching the SIM card.. %>');
					}
				},

				removeOverlay: function() {
					removeOverlay();
				},

				bind: function(container) {
					this.node = container
					dom.bindClassInstance(container, this);
                    var self = this

                    // --------------------------------------------------------------------------------
                    // Subscribe on UISiminfo widget, btn_setting_pressed event: Open SIM Setting modal
                    // --------------------------------------------------------------------------------
                    window.EventBus.listenToASAP("websocket", ["01_rule", "02_rule", "03_rule", "04_rule"], function(ev) {
                        var event_data = ev.detail || {}
                        self.simid = event_data.simid || self.simid || "simid-0"
                        self.switching = event_data.switching || self.switching || false

                        if(event_data["switching"] == "true") {
                            self.displayOverlay()
                        } else if(event_data["switching"] == "false") {
							self.removeOverlay()
						}

						if(event_data["do_switch"] == "true") {
                            self.displayOverlay()
                        } else if(event_data["do_switch"] == "false") {
							self.removeOverlay()
						}
                    })

                    // -------------------------------------
                    // Subscribe on Activate button pressed
                    // -------------------------------------
                    window.EventBus.listenToASAP("UISiminfo_0", ["btn_activate_pressed"], function(ev) {
                        var event_data = ev.detail || {}
                        self.simid = event_data.simid || self.simid || "simid-0"

						self.displayOverlay()

                    })

					window.EventBus.listenToASAP("UISiminfo_1", ["btn_activate_pressed"], function(ev) {
                        var event_data = ev.detail || {}
                        self.simid = event_data.simid || self.simid || "simid-1"

						self.displayOverlay()

                    })


					return container;
				},

			});

			ui["Cover"] = UICover;

		});
	});

//]]>
</script>
